header {
    text-align: center;
    backgroundc
}
h1 {
    text-align: center;
}

p {
    text-align: ce
}
img {
    text-align: center;
    position: relative;
    left: 200px;
    top:px;
}

main {
    background-color: aliceblue;
    font-size: 1.2em;
    padding-right: 100px;
}

body {
    background: azure;
}